<!--getUsuarioRolGestor -->
<h1>ADMINISTRAR USUARIOS</h1>
<a class="nav-link" routerLink="/roladmingestores" routerLinkActive="active">ADMINISTRAR GESTORES</a>
<!--getUsuarioRolFacturador -->
<a class="nav-link" routerLink="/roladminfacturadores" routerLinkActive="active">ADMINISTRAR FACTURADORES</a>
<!--getUsuarioRolCliente -->
<a class="nav-link" routerLink="/roladminclientes" routerLinkActive="active">ADMINISTRAR CLIENTES</a>
<br><br>
<h1>ADMINISTRAR CATEGORIAS</h1>
<br><br>
<h1>ADMINISTRAR PRODUCTOS</h1>