* {
    font-family: "Raleway", sans-serif;
	font-optical-sizing: auto;
	font-weight: weight;
	font-style: normal;
}
#icono {
    width: 50px;
	height: 30px;
}

.pink-header {
    background-color: #ffc7de;
    color: #e40f56; /* Color de texto en hover (opcional) */
    
}
.bk-form{
	background-color: #f7e6f3;
}