<div class="container">
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarProducto">
      Agregar
    </button>
    <br>
    <br>
    <div class="row">
      <div class="col-12 col-md-4" *ngFor="let category of categoriasModelGet">
        <div class="card text-center mb-3">
          <div class="card-header">
            {{ category.nombre }}
          </div>
          <div class="card-body">
            <h5 class="card-title">ID: {{category._id}}</h5>
            <p class="card-text">
              es {{ category.descripcion}} y su administrador{{ category.idAdministrador}}
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-body-secondary">
            2 days ago
          </div>
        </div>
      </div>
    </div>