<div class="container">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
      </style>
      <button class="btn btn-outline-primary mt-3 "  type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarProductos">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-add empresa" viewBox="0 0 16 16" id="icono">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7m.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0"/>
          <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1z"/>
          <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5z"/>
        </svg>
      </button>
        <br>
        <br>
        <div class="row">
          <h1> PRODUCTOS DE ESTA SUCURSAL </h1>
          <div class="col-12 col-md-4" *ngFor="let producto of ProductoModelGet">
            <div class="card text-center mb-3">
              <div class="card-header pink-header fs-4 d-flex flex-column ">
                {{producto.nombreProducto}}
              </div>
              <div class="card-body">
                <h5 class="card-title">Marca: {{producto.marca}}</h5>
                <h5 class="card-title">Descripción: {{producto.descripcion}} </h5>
                <h5 class="card-title">Stock: {{producto.stock}} </h5>
                <h5 class="card-title">Precio: {{producto.precio}} </h5>
                <h5 class="card-title">Tamaño: {{producto.size}} </h5>
                <h5 class="card-title">Vendido: {{producto.vendido}} </h5>

              </div>
            </div>
          </div>
        </div>



          <!--Agregar-->
     <div class="modal fade" id="modalAgregarProductos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" #modal>
      <div class="modal-dialog">
        <div class="modal-content bk-form">
          <div class="modal-header pink-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar Nuevo Producto</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="inputNombreProducto" class="form-label">Nombre Producto:</label>
                <input type="text" class="form-control" id="inputNombreProducto" name="nombre" #nombre="ngModel" [(ngModel)]="ProductoModelPost.nombreProducto"
                 autocomplete="off">
              </div>

              <div class="mb-3">
                <label for="inputMarca" class="form-label">Marca:</label>
                <input type="text" class="form-control" id="inputMarca" name="marca" #marca="ngModel" [(ngModel)]="ProductoModelPost.marca"
                 autocomplete="off">
              </div>
              <div class="mb-3">
                <label for="inputDescripcion" class="form-label">Descripción:</label>
                <input type="text" class="form-control" id="inputDescripcion" name="descripcion" #descripcion="ngModel" [(ngModel)]="ProductoModelPost.descripcion"
                 autocomplete="off">
              </div>
              <div class="mb-3">
                <label for="inputStock" class="form-label">Stock:</label>
                <input type="number" class="form-control" id="inputStock" name="stock" #stock="ngModel" [(ngModel)]="ProductoModelPost.stock"
                 autocomplete="off">
              </div>

              <div class="mb-3">
                <label for="inputPrecio" class="form-label">Precio:</label>
                <input type="number" class="form-control" id="inputPrecio" name="precio" #precio="ngModel" [(ngModel)]="ProductoModelPost.precio"
                 autocomplete="off">
              </div>

              <div class="mb-3">
                <label for="inputTamaño" class="form-label">Tamaño:</label>
                <input type="text" class="form-control" id="inputTamaño" name="size" #size="ngModel" [(ngModel)]="ProductoModelPost.size"
                 autocomplete="off">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal" >Cerrar</button>
            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal" (click)="postProducto(idSucursal, idCategoria)">Agregar</button>
          </div>
        </div>
      </div>
    </div>
