
  
      <div class="container">
        <div class="row">
          <h1> ROL GESTORES VISTA </h1>

            <div class="col-12 col-md-4" *ngFor="let gestor of UsuarioModelGet">
                <div class="card text-center mb-3">
                    <div class="card-header">
                        {{gestor.nombre}} {{ gestor.apellido}}
                    </div>
                    <div class="card-body">

                        <h5 class="card-title"> email: {{gestor.email}} </h5>

                        <h5 class="card-title"> rol: {{gestor.rol}} </h5>

                        <h5 class="card-title"> telefono: {{gestor.telefono}} </h5>

                        <h5 class="card-title"> direccion: {{gestor.direccion}} </h5>

                        <h5 class="card-title"> departamento: {{gestor.departamento}} </h5>

                        <h5 class="card-title"> municipio: {{gestor.municipio}} </h5>

                        <button type="button" class="btn btn-primary" (click)="getUsuarioId(gestor._id)" [routerLink]="['/roladminfinalsucursales', gestor._id]">Agregar sucursal</button>
                    </div>
                </div>
            </div>
        </div>
  
       
      <!--
        <div class="offcanvas offcanvas-start" tabindex="-1" id="editarEmpresaApp" aria-labelledby="offcanvasExampleLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasExampleLabel">Editar Empresas</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <form>
  
              <div class="mb-3">
                <label for="editarNombreEmpresa" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="editarNombreEmpresa" name="nombreSucursal" #nombreSucursal="ngModel" [(ngModel)]="SucursalModelGetId.nombreSucursal"
                 autocomplete="off">
              </div>
  
              <div class="mb-3">
                <label for="editarDireccion" class="form-label">Dirección</label>
                <input type="text" class="form-control" id="editarDireccion" name="direccion" #direccion="ngModel" [(ngModel)]="SucursalModelGetId.direccionSucursal"
                 autocomplete="off">
              </div>
  
              <div class="mb-3">
                <label for="editarTelefono" class="form-label">Télefono</label>
                <input type="text" class="form-control" id="editarTelefono" name="telefono" #telefono="ngModel" [(ngModel)]="SucursalModelGetId.telefonoSucursal"
                 autocomplete="off">
              </div>
  
              <div class="mb-3">
                <label for="editarIdEmpresa" class="form-label">ID Empresa</label>
                <input type="text" class="form-control" id="editarIdEmpresa" name="mision" #mision="ngModel" [(ngModel)]="SucursalModelGetId.idEmpresa"
                 autocomplete="off">
              </div>

              <div class="mb-3">
                <label for="editarGestorSucursales" class="form-label">Gestor de sucursales</label>
                <input type="text" class="form-control" id="editarGestorSucursales" name="vision" #vision="ngModel" [(ngModel)]="SucursalModelGetId.gestorSucursales"
                 autocomplete="off">
              </div>
              <br>
              <button class="btn btn-success" data-bs-dismiss="offcanvas" (click)="putSucursales()">Editar sucursal</button>
  
            </form>
          </div>
        </div>-->