<div class="container">
    <br>
    <button class="btn btn-success" type="button" data-bs-toggle="modal" data-bs-target="#modalAgregarCategoria">
        Agregar categoría
    </button>
    <br>

    <br>
    <div class="row">
        <h1> VISTA DE CATEGORIAS </h1>

        <div class="col-12 col-md-4" *ngFor="let category of CategoriasModelGet">
            <div class="card text-center mb-3">
                <div class="card-header">
                    {{ category.nombreCategoria }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">Descripción: {{category.descripcionCategoria}}</h5>
                    <!-- BOTON PARA TRAERSE EL ID DE LA CATEGORIA -->
                    <button type="button" class="btn btn-outline-primary mt-3" [routerLink]="['/rolgestorproductos', category._id]">
                        Agregar productos
                    </button>

                </div>




            </div>
        </div>
    </div>
</div>